<div class="ecosystem-page">
  <app-navbar 
    [userRole]="'CLIENT'" 
    [userName]="'Carlos Martínez'"
    [notificationCount]="3"
    [messageCount]="2"
    [projectCount]="4"
  ></app-navbar>

  <div class="hub-container">
    <div class="hub-header">
      <h1>Ecosistema Conectian</h1>
    </div>

    <p-tabView styleClass="glass-tabs">
      <p-tabPanel header="Centro de Innovación">
        <ng-template pTemplate="header">
          <i class="pi pi-lightbulb mr-2"></i>
          <span>Centro de Innovación</span>
        </ng-template>
        <app-clientinnovationcenter [showNavbar]="false"></app-clientinnovationcenter>
      </p-tabPanel>

      <p-tabPanel header="Centro de Crecimiento">
        <ng-template pTemplate="header">
          <i class="pi pi-chart-line mr-2"></i>
          <span>Centro de Crecimiento</span>
        </ng-template>
        <app-clientgrowthcenter [showNavbar]="false"></app-clientgrowthcenter>
      </p-tabPanel>

      <p-tabPanel header="Análisis de Mercado">
        <ng-template pTemplate="header">
          <i class="pi pi-search mr-2"></i>
          <span>Análisis de Mercado</span>
        </ng-template>
        <app-clientmarketanalysis [showNavbar]="false"></app-clientmarketanalysis>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
